<main>
    <!-- breadcrumb-section start -->
    <partial name="_breadcrumbs" model="@Model.Breadcrumb"/>
    <!-- breadcrumb-section end -->
    <!-- single Product start -->
    <section class="product-single theme1 ">
        <div class="container grid-wraper">
            <div class="row">
                <div class="col-md-9 mx-auto col-lg-6 mb-5 mb-lg-0">
                    <div class="prod-div">
                        <div class="position-relative">
                            <span class="badge badge-dangers top-left">New</span>
                        </div>
                        <div class="product-sync-init">
                            <div class="single-product ">
                                <div class="product-thumb">
                                    <img src="/Assets/img/prod1.jpg" alt="product-thumb">
                                </div>
                            </div>
                            <div class="single-product ">
                                <div class="product-thumb">
                                    <img src="/Assets/img/prod1.1.jpg" alt="product-thumb">
                                </div>
                            </div>
                            <div class="single-product ">
                                <div class="product-thumb">
                                    <img src="/Assets/img/prod1.jpg" alt="product-thumb">
                                </div>
                            </div>
                            <div class="single-product ">
                                <div class="product-thumb">
                                    <img src="/Assets/img/prod1.1.jpg" alt="product-thumb">
                                </div>
                            </div>
                            <div class="single-product ">
                                <div class="product-thumb">
                                    <img src="/Assets/img/prod1.jpg" alt="product-thumb">
                                </div>
                            </div>
                        </div>
                        <div class="product-sync-nav d-flex justify-content-center">
                            <div class="single-product">
                                <div class="product-thumb">
                                    <a> <img src="/Assets/img/prod1.jpg" class="img-fill" alt="product-thumb"></a>
                                </div>
                            </div>
                            <div class="single-product ">
                                <div class="product-thumb">
                                    <a> <img src="/Assets/img/prod1.1.jpg" class="img-fill" alt="product-thumb"></a>
                                </div>
                            </div>
                            <div class="single-product">
                                <div class="product-thumb">
                                    <a> <img src="/Assets/img/prod1.jpg" class="img-fill" alt="product-thumb"></a>
                                </div>
                            </div>
                            <div class="single-product ">
                                <div class="product-thumb">
                                    <a> <img src="/Assets/img/prod1.1.jpg" class="img-fill" alt="product-thumb"></a>
                                </div>
                            </div>
                            <div class="single-product">
                                <div class="product-thumb">
                                    <a> <img src="/Assets/img/prod1.jpg" class="img-fill" alt="product-thumb"></a>
                                </div>
                            </div>
                        </div>
                        <!-- <button class="slick-prev"><i class="fas fa-chevron-left"></i></button>
                        <button class="slick-next"><i class="fas fa-chevron-right"></i></button> -->
                    </div>
                </div>
                <div class="col-lg-6 mt-5 mt-md-0">
                    <div class="single-product-info">
                        <div class="single-product-head">
                            <h2 class="title ">Originals Windbreaker Winter Jacket</h2>
                            <div class="star-content ">
                                <span class="star-on"><i class="fas fa-star"></i> </span>
                                <span class="star-on"><i class="fas fa-star"></i> </span>
                                <span class="star-on"><i class="fas fa-star"></i> </span>
                                <span class="star-on"><i class="fas fa-star"></i> </span>
                                <span class="star-on"><i class="fas fa-star"></i> </span>
                                <a href="#" id="write-comment">
                                    <span class="ml-2"><i class="far fa-comment-dots"></i></span>
                                    Read reviews <span>(1)</span>
                                </a>
                                <a href="#">
                                    <span class="edite"><i class="far fa-edit"></i></span> Write a
                                    review
                                </a>
                            </div>
                        </div>
                        <div class="product-body">
                            <div class="d-flex align-items-center border-bottom pad-marg-b">
                                <h6 class="product-price">
                                    <del class="del">$23.90</del>
                                    <span class="onsale">$21.51</span>
                                </h6>
                                <span class="badge my-badge position-static bg-dark">Save 10%</span>
                            </div>
                            <p class="font-size">
                                Block out the haters with the fresh adidas® Originals Kaval Windbreaker Jacket.
                            </p>
                            <p class="font-size">
                                Part of the Kaval Collection.
                            </p>
                            <p class="font-size">
                                Regular fit is eased, but not sloppy, and perfect for any activity.
                            </p>
                            <p class="font-size">
                                Plain-woven jacket specifically constructed for freedom of movement.
                            </p>
                        </div>
                        <div class="product-footer">
                            <div class="product-count style d-flex flex-column flex-sm-row mt-3 mb-3">
                                <div class="count d-flex">
                                    <input type="number" min="1" max="10" step="1" value="1">
                                    <div class="button-group">
                                        <button class="count-btn increment">
                                            <i class="fas fa-chevron-up"></i>
                                        </button>
                                        <button class="count-btn decrement">
                                            <i class="fas fa-chevron-down"></i>
                                        </button>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-theme2  text-uppercase my-btn">
                                        <span class="mr-2"><i class="fas fa-suitcase"></i></span>
                                        Add to cart
                                    </button>
                                </div>
                            </div>
                            <div class="addto-whish-list">
                                <a href="#"><i class="far fa-heart"></i> Add to wishlist</a>
                                <a href="#"><i class="fas fa-random"></i> Add to compare</a>
                            </div>
                            <div class="pro-social-links">
                                <ul class="d-flex align-items-center">
                                    <li class="share">Share</li>
                                    <li>
                                        <a href="#"><i class="fab fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-google"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-pinterest"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="block-reassurance ">
                            <ul>
                                <li>
                                    <i class="fas fa-shield-alt"></i><span>Security policy (edit with Customer reassurance module)</span>
                                </li>
                                <li>
                                    <i class="fas fa-truck"></i> <span>Delivery policy (edit with Customer reassurance module)</span>
                                </li>
                                <li>
                                    <i class="fas fa-exchange-alt"></i> <span>Return policy (edit with Customer reassurance module)</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- tab Product start -->
    <section class="tab-product padding-head-foot">
        <div class="container">
            <ul class="tabs d-flex justify-content-center">
                <li class="active" data-target="panel-1">
                    Description
                </li>
                <li data-target="panel-2">
                    Product Details
                </li>
                <li data-target="panel-3">
                    Reviews
                </li>
            </ul>
            <div class="tabs-content">
                <div class="tabs-panel active" id="panel-1">
                    <ul>
                        <li>
                            Block out the haters with the fresh adidas® Originals Kaval Windbreaker Jacket.
                        </li>
                        <li>Part of the Kaval Collection.</li>
                        <li>
                            Regular fit is eased, but not sloppy, and perfect for any activity.
                        </li>
                        <li>
                            Plain-woven jacket specifically constructed for freedom of movement.
                        </li>
                        <li>Soft fleece lining delivers lightweight warmth.</li>
                        <li>Attached drawstring hood.</li>
                        <li>Full-length zip closure.</li>
                        <li>Long sleeves with stretch cuffs.</li>
                        <li>Side hand pockets.</li>
                        <li>Brand graphics at left chest and back.</li>
                        <li>Straight hem.</li>
                        <li>Shell: 100% nylon;<br>Lining: 100% polyester.</li>
                        <li>Machine wash, tumble dry.</li>
                        <li>Imported.</li>
                        <li>
                            <div>
                                Product measurements were taken using size MD. Please note that measurements may vary by size.
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tabs-panel" id="panel-2">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Compositions</th>
                                <th scope="col">Paper Type</th>
                                <th scope="col">Color</th>
                                <th scope="col">Size</th>
                                <th scope="col">Frame Size</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cotton</td>
                                <td>Doted</td>
                                <td>Black</td>
                                <td>L</td>
                                <td>40x60cm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tabs-panel" id="panel-3">
                    <div class="grade-content">
                        <div class="container">
                            <div class="comment-list">
                                <div class="details text-uppercase"></div>

                                <div class="eventDetails mt-5">
                                    <h4 class="sub-title">Ilkin Nazarli</h4>
                                    <span>14 oct, 2020 </span>
                                    <p>
                                        Ev kullanımı için en uygun HP Orjinal Ucuz Kartuşlar artık
                                        avatar.com adresinde 7/24 aktif şipariş hattımız ile her zaman
                                        Orijinal Kartuş alabilir ve bayilik fırsatlarımız ile her zaman
                                        %50 İndirimli alabilirsiniz. Sarf Depo olarak her zaman müşteri
                                        desteğimiz en ön plandadır.Her zaman canlı destek yada whatsapp
                                        hattımızdan yazmayı unutmayınız. www.avatar.com
                                    </p>
                                </div>
                             
                        
                            </div>
                            <button type="button" class="btn third-btn btn-theme2 mt-5" data-toggle="modal" data-target="#form">
                                Write your review !
                            </button>
                        </div>
                        <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header border-bottom-0">
                                        <h5 class="modal-title" id="exampleModalLabel">Your Review</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <form>
                                        <div class="modal-body">
                                            <div class="container">
                                                <label>Rate Now</label>
                                                <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
                                                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
                                                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
                                                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
                                                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="email1">Fullname</label>
                                                <input type="text" class="form-control" id="email2"  placeholder="Enter Fullname">
                                            </div>
                                            <div class="form-group">
                                                <label for="email1">Email address</label>
                                                <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter email">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlTextarea1">Message</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <div class=" modal-footer border-top-0 d-flex justify-content-center">
                                            <button type="submit" class="btn btn-success">Add Review</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- tab Product end -->
    <!-- single Product end -->
    <!-- Featured Products start -->
    <section class="featured-products panel-default padding-head-foot">
        <div class="container">
            <div class="panel-body">
                <div class="row">
                    <div class="col-12">
                        <div class="head-title text-center mb-30">
                            <h2 class="title text-dark text-capitalize">Featured Products</h2>
                            <p class="text mt-20">
                                Browse the collection of our featured products.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="feature-slider bg-white">
                            <figure class="prod-box">
                                <div class="img-holder position-relative">
                                    <span class="badge badge-dangers ">New</span>
                                    <span class="badge badge-darks ">-20%</span>
                                    <a href="#">
                                        <img src="/Assets/img/prod1.jpg" class="item-img-1 img-fluid" alt="Something">
                                        <img src="/Assets/img/prod1.1.jpg" class="item-img-2 img-fluid" alt="Something2">
                                    </a>
                                    <div class="blok-hover">
                                        <div class="product-links d-flex d-flex justify-content-between align-items-center">
                                            <p class="text-uppercase ">Add to card</p>
                                            <ul class="d-flex justify-content-center">
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#quick-view" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-search" data-original-title="Quick view"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#compare" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-random" data-original-title="Add to compare"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="wishlist.html" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="far fa-heart" data-original-title="add to wishlist"> </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="anons">
                                    <div class="star-rating">
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <a class="info" href="shop-grid-4-column.html">
                                        Juicy
                                        Couture
                                        Juicy Quilted Terry Track Jacket
                                    </a>
                                    <h5 class="product-price">
                                        <del class="del">$23.90</del>
                                        <span class="onsale">$21.51</span>
                                    </h5>
                                </div>
                            </figure>
                            <figure class="prod-box">
                                <div class="img-holder position-relative">
                                    <span class="badge badge-dangers ">New</span>
                                    <span class="badge badge-darks ">-20%</span>
                                    <a href="#">
                                        <img src="/Assets/img/prod1.jpg" class="item-img-1 img-fluid" alt="Something">
                                        <img src="/Assets/img/prod1.1.jpg" class="item-img-2 img-fluid" alt="Something2">
                                    </a>
                                    <div class="blok-hover">
                                        <div class="product-links d-flex d-flex justify-content-between align-items-center">
                                            <p class="text-uppercase ">Add to card</p>
                                            <ul class="d-flex justify-content-center">
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#quick-view" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-search" data-original-title="Quick view"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#compare" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-random" data-original-title="Add to compare"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="wishlist.html" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="far fa-heart" data-original-title="add to wishlist"> </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="anons">
                                    <div class="star-rating">
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <a class="info" href="shop-grid-4-column.html">
                                        Juicy
                                        Couture
                                        Juicy Quilted Terry Track Jacket
                                    </a>
                                    <h5 class="product-price">
                                        <del class="del">$23.90</del>
                                        <span class="onsale">$21.51</span>
                                    </h5>
                                </div>
                            </figure>
                            <figure class="prod-box">
                                <div class="img-holder position-relative">
                                    <span class="badge badge-dangers ">New</span>
                                    <span class="badge badge-darks ">-20%</span>
                                    <a href="#">
                                        <img src="/Assets/img/prod1.jpg" class="item-img-1 img-fluid" alt="Something">
                                        <img src="/Assets/img/prod1.1.jpg" class="item-img-2 img-fluid" alt="Something2">
                                    </a>
                                    <div class="blok-hover">
                                        <div class="product-links d-flex d-flex justify-content-between align-items-center">
                                            <p class="text-uppercase ">Add to card</p>
                                            <ul class="d-flex justify-content-center">
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#quick-view" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-search" data-original-title="Quick view"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#compare" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-random" data-original-title="Add to compare"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="wishlist.html" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="far fa-heart" data-original-title="add to wishlist"> </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="anons">
                                    <div class="star-rating">
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <a class="info" href="shop-grid-4-column.html">
                                        Juicy
                                        Couture
                                        Juicy Quilted Terry Track Jacket
                                    </a>
                                    <h5 class="product-price">
                                        <del class="del">$23.90</del>
                                        <span class="onsale">$21.51</span>
                                    </h5>
                                </div>
                            </figure>
                            <figure class="prod-box">
                                <div class="img-holder position-relative">
                                    <span class="badge badge-dangers ">New</span>
                                    <span class="badge badge-darks ">-20%</span>
                                    <a href="#">
                                        <img src="/Assets/img/prod1.jpg" class="item-img-1 img-fluid" alt="Something">
                                        <img src="/Assets/img/prod1.1.jpg" class="item-img-2 img-fluid" alt="Something2">
                                    </a>
                                    <div class="blok-hover">
                                        <div class="product-links d-flex d-flex justify-content-between align-items-center">
                                            <p class="text-uppercase ">Add to card</p>
                                            <ul class="d-flex justify-content-center">
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#quick-view" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-search" data-original-title="Quick view"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#compare" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-random" data-original-title="Add to compare"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="wishlist.html" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="far fa-heart" data-original-title="add to wishlist"> </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="anons">
                                    <div class="star-rating">
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <a class="info" href="shop-grid-4-column.html">
                                        Juicy
                                        Couture
                                        Juicy Quilted Terry Track Jacket
                                    </a>
                                    <h5 class="product-price">
                                        <del class="del">$23.90</del>
                                        <span class="onsale">$21.51</span>
                                    </h5>
                                </div>
                            </figure>
                            <figure class="prod-box">
                                <div class="img-holder position-relative">
                                    <span class="badge badge-dangers ">New</span>
                                    <span class="badge badge-darks ">-20%</span>
                                    <a href="#">
                                        <img src="/Assets/img/prod1.jpg" class="item-img-1 img-fluid" alt="Something">
                                        <img src="/Assets/img/prod1.1.jpg" class="item-img-2 img-fluid" alt="Something2">
                                    </a>
                                    <div class="blok-hover">
                                        <div class="product-links d-flex d-flex justify-content-between align-items-center">
                                            <p class="text-uppercase ">Add to card</p>
                                            <ul class="d-flex justify-content-center">
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#quick-view" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-search" data-original-title="Quick view"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#compare" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-random" data-original-title="Add to compare"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="wishlist.html" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="far fa-heart" data-original-title="add to wishlist"> </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="anons">
                                    <div class="star-rating">
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <a class="info" href="shop-grid-4-column.html">
                                        Juicy
                                        Couture
                                        Juicy Quilted Terry Track Jacket
                                    </a>
                                    <h5 class="product-price">
                                        <del class="del">$23.90</del>
                                        <span class="onsale">$21.51</span>
                                    </h5>
                                </div>
                            </figure>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Featured Products end -->
    <!-- Featured Products start -->
    <section class="featured-products panel-default padding-head-foot">
        <div class="container">
            <div class="panel-body">
                <div class="row">
                    <div class="col-12">
                        <div class="head-title text-center mb-30">
                            <h2 class="title text-dark text-capitalize">Featured Products</h2>
                            <p class="text mt-20">
                                Browse the collection of our featured products.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="feature-slider bg-white">
                            <figure class="prod-box">
                                <div class="img-holder position-relative">
                                    <span class="badge badge-dangers ">New</span>
                                    <span class="badge badge-darks ">-20%</span>
                                    <a href="#">
                                        <img src="/Assets/img/prod1.jpg" class="item-img-1 img-fluid" alt="Something">
                                        <img src="/Assets/img/prod1.1.jpg" class="item-img-2 img-fluid" alt="Something2">
                                    </a>
                                    <div class="blok-hover">
                                        <div class="product-links d-flex d-flex justify-content-between align-items-center">
                                            <p class="text-uppercase ">Add to card</p>
                                            <ul class="d-flex justify-content-center">
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#quick-view" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-search" data-original-title="Quick view"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#compare" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-random" data-original-title="Add to compare"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="wishlist.html" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="far fa-heart" data-original-title="add to wishlist"> </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="anons">
                                    <div class="star-rating">
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <a class="info" href="shop-grid-4-column.html">
                                        Juicy
                                        Couture
                                        Juicy Quilted Terry Track Jacket
                                    </a>
                                    <h5 class="product-price">
                                        <del class="del">$23.90</del>
                                        <span class="onsale">$21.51</span>
                                    </h5>
                                </div>
                            </figure>
                            <figure class="prod-box">
                                <div class="img-holder position-relative">
                                    <span class="badge badge-dangers ">New</span>
                                    <span class="badge badge-darks ">-20%</span>
                                    <a href="#">
                                        <img src="/Assets/img/prod1.jpg" class="item-img-1 img-fluid" alt="Something">
                                        <img src="/Assets/img/prod1.1.jpg" class="item-img-2 img-fluid" alt="Something2">
                                    </a>
                                    <div class="blok-hover">
                                        <div class="product-links d-flex d-flex justify-content-between align-items-center">
                                            <p class="text-uppercase ">Add to card</p>
                                            <ul class="d-flex justify-content-center">
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#quick-view" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-search" data-original-title="Quick view"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#compare" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-random" data-original-title="Add to compare"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="wishlist.html" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="far fa-heart" data-original-title="add to wishlist"> </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="anons">
                                    <div class="star-rating">
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <a class="info" href="shop-grid-4-column.html">
                                        Juicy
                                        Couture
                                        Juicy Quilted Terry Track Jacket
                                    </a>
                                    <h5 class="product-price">
                                        <del class="del">$23.90</del>
                                        <span class="onsale">$21.51</span>
                                    </h5>
                                </div>
                            </figure>
                            <figure class="prod-box">
                                <div class="img-holder position-relative">
                                    <span class="badge badge-dangers ">New</span>
                                    <span class="badge badge-darks ">-20%</span>
                                    <a href="#">
                                        <img src="/Assets/img/prod1.jpg" class="item-img-1 img-fluid" alt="Something">
                                        <img src="/Assets/img/prod1.1.jpg" class="item-img-2 img-fluid" alt="Something2">
                                    </a>
                                    <div class="blok-hover">
                                        <div class="product-links d-flex d-flex justify-content-between align-items-center">
                                            <p class="text-uppercase ">Add to card</p>
                                            <ul class="d-flex justify-content-center">
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#quick-view" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-search" data-original-title="Quick view"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#compare" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-random" data-original-title="Add to compare"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="wishlist.html" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="far fa-heart" data-original-title="add to wishlist"> </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="anons">
                                    <div class="star-rating">
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <a class="info" href="shop-grid-4-column.html">
                                        Juicy
                                        Couture
                                        Juicy Quilted Terry Track Jacket
                                    </a>
                                    <h5 class="product-price">
                                        <del class="del">$23.90</del>
                                        <span class="onsale">$21.51</span>
                                    </h5>
                                </div>
                            </figure>
                            <figure class="prod-box">
                                <div class="img-holder position-relative">
                                    <span class="badge badge-dangers ">New</span>
                                    <span class="badge badge-darks ">-20%</span>
                                    <a href="#">
                                        <img src="/Assets/img/prod1.jpg" class="item-img-1 img-fluid" alt="Something">
                                        <img src="/Assets/img/prod1.1.jpg" class="item-img-2 img-fluid" alt="Something2">
                                    </a>
                                    <div class="blok-hover">
                                        <div class="product-links d-flex d-flex justify-content-between align-items-center">
                                            <p class="text-uppercase ">Add to card</p>
                                            <ul class="d-flex justify-content-center">
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#quick-view" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-search" data-original-title="Quick view"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#compare" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-random" data-original-title="Add to compare"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="wishlist.html" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="far fa-heart" data-original-title="add to wishlist"> </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="anons">
                                    <div class="star-rating">
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <a class="info" href="shop-grid-4-column.html">
                                        Juicy
                                        Couture
                                        Juicy Quilted Terry Track Jacket
                                    </a>
                                    <h5 class="product-price">
                                        <del class="del">$23.90</del>
                                        <span class="onsale">$21.51</span>
                                    </h5>
                                </div>
                            </figure>
                            <figure class="prod-box">
                                <div class="img-holder position-relative">
                                    <span class="badge badge-dangers ">New</span>
                                    <span class="badge badge-darks ">-20%</span>
                                    <a href="#">
                                        <img src="/Assets/img/prod1.jpg" class="item-img-1 img-fluid" alt="Something">
                                        <img src="/Assets/img/prod1.1.jpg" class="item-img-2 img-fluid" alt="Something2">
                                    </a>
                                    <div class="blok-hover">
                                        <div class="product-links d-flex d-flex justify-content-between align-items-center">
                                            <p class="text-uppercase ">Add to card</p>
                                            <ul class="d-flex justify-content-center">
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#quick-view" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-search" data-original-title="Quick view"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#compare" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-random" data-original-title="Add to compare"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="wishlist.html" tabindex="0">
                                                        <span data-toggle="tooltip" data-placement="bottom" title="" class="far fa-heart" data-original-title="add to wishlist"> </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="anons">
                                    <div class="star-rating">
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <a class="info" href="shop-grid-4-column.html">
                                        Juicy
                                        Couture
                                        Juicy Quilted Terry Track Jacket
                                    </a>
                                    <h5 class="product-price">
                                        <del class="del">$23.90</del>
                                        <span class="onsale">$21.51</span>
                                    </h5>
                                </div>
                            </figure>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Featured Products end -->
    <!-- common banner news-letter end -->
    <partial name="_newsletters" model="@Model.Subscriber"/>
    <!-- common banner news-letter end -->
</main>


@section Javascript{

    <script>
        $(':radio').change(function () {
            console.log('New star rating: ' + this.value);
        });

        $(document).ready(function () {
            var showText = 'View reviews',
                hideText = 'Hide reviews';

            $('.eventDetails').hide().prev('.details').append('<a href="#" class="btn secondary-btn btn-theme2 toggleLink ">' + showText + '</a>');

            $('a.toggleLink').click(function (e) {
                e.preventDefault();
                var is_visible = $(this).closest('.details').next('.eventDetails').is(':visible');
                $(this).html(is_visible ? showText : hideText).parent().next('.eventDetails').slideToggle('slow');
            });
        });
    </script>
   
}