<main>
    <!-- breadcrumb-section start -->
    <partial name="_breadcrumbs"  model="@Model.Breadcrumb"/>
    <!-- breadcrumb-section end -->
    <!-- about section start -->
    <section class="check-out-section wrapper-top">
        <div class="container grid-wraper">
            <div class="row">
                <div class="col-lg-8 mb-30">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        1 Personal Information
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <form class="personal-information">
                                        <div class="order-asguest mt-2 mb-4">
                                            <a href="#">Order as a guest</a>
                                            <span class="separator"></span>
                                            <a class="text-muted" href="login.html">Sign in</a>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label">
                                                Social title
                                            </label>
                                            <div class="col-md-6">
                                                <div class="d-flex flex-wrap">
                                                    <div class="custom-radio">
                                                        <label for="opt3" class="radio">
                                                            <input type="radio" name="rdo" id="opt3" class="hidden" />
                                                            <span class="label"></span>Mr
                                                        </label>
                                                    </div>
                                                    <div class="custom-radio">
                                                        <label for="opt4" class="radio">
                                                            <input type="radio" name="rdo" id="opt4" class="hidden" />
                                                            <span class="label"></span>Mrs
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="firstname" class="col-md-3 col-form-label">
                                                First
                                                name
                                            </label>
                                            <div class="col-md-6">
                                                <input type="text" id="firstname" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="lastname" class="col-md-3 col-form-label">last name</label>
                                            <div class="col-md-6">
                                                <input type="text" id="lastname" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="email" class="col-md-3 col-form-label">Email</label>
                                            <div class="col-md-6">
                                                <input type="email" id="email" class="form-control">
                                            </div>
                                        </div>

                                        @*<div class="form-group row">
                                            <label for="Password" class="col-md-3 col-form-label">Password</label>
                                            <div class="col-md-6">
                                                <div class="input-group mb-2 mr-sm-2">
                                                    <input type="password" class="form-control" id="Password">
                                                    <div class="input-group-prepend">
                                                        <button type="button" class="input-group-text third-btn btn-theme2">show</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label>
                                                    <span class="optional text-muted">
                                                        Optional
                                                    </span>
                                                </label>
                                            </div>
                                        </div>*@

                                        @*<div class="form-group row">
                                            <label for="birthdate" class="col-md-3 col-form-label">Birthdate</label>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="birthdate" placeholder="MM/DD/YYYY">
                                            </div>
                                            <div class="col-md-3">
                                                <label>
                                                    <span class="optional text-muted">
                                                        Optional
                                                    </span>
                                                </label>
                                            </div>
                                        </div>*@
                                        <div class="form-group row">
                                            @*<div class="col-md-3"></div>
                                            <div class="col-md-6">
                                                <div class="check-box-inner pt-0">
                                                    <div class="filter-check-box">
                                                        <input type="checkbox" id="20821">
                                                        <label for="20821">Sign up for our newsletter</label>
                                                        <p class="pl-25">Be the First to Know. Sign up for newsletter today !</p>
                                                    </div>
                                                </div>
                                            </div>*@
                                            <div class="col-12">
                                                <div class="sign-btn text-right">
                                                    <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="btn third-btn btn-theme2">Continue</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        2 Addresses
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="checkout-inner border-0">
                                        <div class="checkout-address p-0">
                                            <p>
                                                The selected address will be used both as your personal address (for invoice) and as your delivery address.
                                            </p>
                                        </div>
                                        <div class="check-out-content">
                                            <form id="contact-form" class="p-0" action="assets/php/mail.php" method="post">
                                                <div class="form-group row">
                                                    <label class="col-md-3" for="city">City</label>
                                                    <div class="col-md-6">
                                                        <input class="form-control" id="city" name="city" type="text" required="">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3" for="address1">Address</label>
                                                    <div class="col-md-6">
                                                        <input class="form-control" id="address1" name="address1" type="text" required="">
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-0">
                                                    <div class="col-12 text-right">
                                                        <button type="submit" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="btn third-btn btn-theme2">Continue</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <span>3</span> Shipping Method
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse custom" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="delivery-options-list">
                                        <form>
                                            <div class="delivery-option">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="row align-items-center ">
                                                            <div class="col-sm-1">
                                                                <div class="custom-radio">
                                                                    <label for="opt10" class="radio">
                                                                        <input type="radio" name="rdo" id="opt10" class="hidden" />
                                                                        <span class="label"></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-11 delivery-option-2">
                                                                <div class="row align-items-center">
                                                                    <div class="col-sm-5 col-12">
                                                                        <div class="row align-items-center">
                                                                            <div class="col-3">
                                                                                <i class="fas fa-truck"></i>
                                                                            </div>
                                                                            <div class="col-9">
                                                                                <span class="carrier-name">
                                                                                    My
                                                                                    carrier
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-4 col-12">
                                                                        <span class="carrier-delay">
                                                                            Delivery next
                                                                            day!
                                                                        </span>
                                                                    </div>
                                                                    <div class="col-sm-3 col-12">
                                                                        <span class="carrier-price">$7.00 tax excl.</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="order-options">
                                                <div id="delivery" class="text-right">
                                                    <label class="text-left d-block">
                                                        If you would like to add a comment
                                                        about your order, please write it in the field
                                                        below.
                                                    </label>
                                                    <textarea class="form-control mt-2 mb-4"></textarea>

                                                </div>
                                            </div>

                                        </form>
                                        <button data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="btn third-btn btn-theme2">
                                            Continue
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        <span>4</span> Payment
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse custom" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body pt-0">
                                    <div class="custom-radio mb-4">
                                        <label for="opt9" class="radio">
                                            <input type="radio" name="rdo" id="opt9" class="hidden" />
                                            <span class="label"></span>Pay by Check
                                        </label>

                                    </div>
                                    <div class="custom-radio mb-4">
                                        <label for="opt6" class="radio">
                                            <input type="radio" name="rdo" id="opt6" class="hidden" />
                                            <span class="label"></span>Pay by bank wire
                                        </label>
                                    </div>
                                    <div class="custom-radio mb-4">
                                        <label for="opt7" class="radio">
                                            <input type="radio" name="rdo" id="opt7" class="hidden" />
                                            <span class="label"></span>Pay by Cash on Delivery
                                        </label>
                                    </div>
                                    <div class="filter-check-box mb-4">
                                        <input type="checkbox" id="20828" required="">
                                        <label class="checkout" for="20828">I agree to the terms and Conditions</label>
                                    </div>

                                    <button class="btn third-btn btn-theme2">
                                        order now
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-30">
                    <ul class="list-group cart-summary">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <ul class="items">
                                <li>1 item</li>
                                <li>Shipping</li>
                            </ul>
                            <ul class="amount">
                                <li>$11.90</li>
                                <li>$7.00</li>
                            </ul>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <ul class="items">
                                <li>Total (tax excl.)</li>
                                <li>Taxes</li>
                            </ul>
                            <ul class="amount">
                                <li>$18.90</li>
                                <li>$0</li>
                            </ul>
                        </li>
                        <li class="list-group-item text-center">
                            <button class="btn third-btn btn-theme2">Proceed to checkout</button>
                        </li>
                    </ul>

                    <div class="delivery-info">
                        <ul>
                            <li>
                                <i class="fas fa-shield-alt"></i> Security policy (edit with Customer reassurance module)
                            </li>
                            <li>
                                <i class="fas fa-truck"></i> Delivery policy (edit with Customer reassurance module)
                            </li>
                            <li class="mb-0">
                                <i class="fas fa-exchange-alt"></i> Return policy (edit with Customer reassurance module)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about section end -->
    <!-- common banner news-letter end -->
    <partial name="_newsletters" model="@Model.Subscriber"/>
    <!-- common banner news-letter end -->
</main>

