<main>
    <!-- breadcrumb-section start -->
    <partial name="_breadcrumbs"  model="@Model.Breadcrumb"/>
    <!-- breadcrumb-section end -->
    <!-- registr-section start -->
    <div class="register wrapper-top">
        <div class="container grid-wraper">
            <div class="row">
                <div class="col-12">
                    <h3 class="title text-capitalize">Create an account</h3>
                    <div class="log-in-form">
                        <form class="personal-information">
                            <div class="order-asguest">
                                <span>Already have an account?</span>
                                <a class="text-muted hover-color" href="login.html">Log in instead!</a>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">
                                    Social title
                                </label>
                                <div class="col-md-6">
                                    <div class="d-flex flex-wrap">
                                        <div class="custom-radio">
                                            <label for="opt1" class="radio">
                                                <input type="radio" name="rdo" id="opt1" class="hidden" />
                                                <span class="label"></span>Mr
                                            </label>
                                        </div>
                                        <div class="custom-radio">
                                            <label for="opt2" class="radio">
                                                <input type="radio" name="rdo" id="opt2" class="hidden" />
                                                <span class="label"></span>Mrs
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="firstname" class="col-md-3 col-form-label">
                                    First
                                    name
                                </label>
                                <div class="col-md-6">
                                    <input type="text" id="firstname" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="lastname" class="col-md-3 col-form-label">last name</label>
                                <div class="col-md-6">
                                    <input type="text" id="lastname" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-md-3 col-form-label">Email</label>
                                <div class="col-md-6">
                                    <input type="email" id="email" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Password" class="col-md-3 col-form-label">Password</label>
                                <div class="col-md-6">
                                    <div class="input-group mb-2 mr-sm-2">
                                        <input type="password" class="form-control" id="Password">
                                        <div class="input-group-prepend">
                                            <button type="button" class="input-group-text third-btn btn-theme2">show</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="birthdate" class="col-md-3 col-form-label">Birthdate</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="birthdate" placeholder="MM/DD/YYYY">
                                </div>
                                <div class="col-md-3">
                                    <label>
                                        <span class="optional text-muted">
                                            Optional
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <div class="check-box-inner">
                                        <div class="filter-check-box">
                                            <input type="checkbox" id="20821">
                                            <label for="20821">Sign up for our newsletter</label>
                                            <p class="pl-25">You may unsubscribe at any moment. For that purpose, please find our contact info in the legal notice.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="sign-btn text-right">
                                        <a href="#" class="btn third-btn btn-theme2">save</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- registr-section end -->
    <!-- common banner news-letter end -->
    <partial name="_newsletters" model="@Model.Subscriber"/>
    <!-- common banner news-letter end -->
</main>