@model RegisterViewModel
<main>
    <!-- breadcrumb-section start -->
    <partial name="_breadcrumbs" model="@Model.Breadcrumb" />
    <!-- breadcrumb-section end -->
    <!-- registr-section start -->
    <partial name="_customerRegister" model="@Model.Customer" />
    <!-- registr-section end -->
    <!-- common banner news-letter end -->
    <partial name="_newsletters" model="@Model.Subscriber" />
    <!-- common banner news-letter end -->
</main>


@section Javascript{
    <script src="~/Assets/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/Assets/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
   

    <script>
        function ShowHidePasswordFunction() {
            var x = document.getElementById("Password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
        $(document).ready(function () {

            $('#register-form').submit(function (e) {
                e.preventDefault();

                let formData = $(this).serialize();

                $.ajax({
                    url: "/account/register",
                    type: "post",
                    data: formData,
                    dataType: "json",
                    success: function (res) {
                    },
                    error: function (err) {
                        if (err.status === 404) {
                            swal("Notice!", err.responseJSON.message);
                        }
                        else if (err.status === 400) {
                            swal("Notice!", err.responseJSON.message);
                        }
                        else if (err.status === 500) {
                            Swal.fire({
                                icon: 'error',
                                title: 'ERROR',
                                text: 'Some of inputs is empty', 
                                footer:'Please enter information correctly!',
                               
                            })
                        }
                    },
                    complete: function (status) {   
                        if (status.status === 200) {
                            Swal.fire({
                                position: 'top-center',
                                icon: 'success',
                                title: status.responseJSON.message,
                                showConfirmButton: false,
                                timer: 3500
                            })
                            setTimeout(function () {
                                window.location = "/Account/login";
                            }, 4000);
                        }
                        
                    }
                });
            });
        });
    </script>
}