<main>
    <!-- breadcrumb-section start -->
    <partial name="_breadcrumbs" model="@Model.Breadcrumb"/>
    <!-- breadcrumb-section end -->
    <!-- blog-grid-section start -->
    <section class="blog-section  wrapper-top">
        <div class="container grid-wraper ">
            <div class="row">
                <div class="col-12">
                    <div class="blog-title ">
                        <h2 class="title">From Our Blog </h2>
                        <p class="text">The latest news, videos, and discussion topics</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6  col-md-6 col-lg-4 col-xl-4 mb-30">
                    <div class="blog-card cart-design">
                        <div class="blog-card__image zoom-in overflow-hidden">
                            <img src="/Assets/img/blog-post1.jpg">
                        </div>
                        <div class="blog-card__title">
                            <p> Web Design Trends for 2016 </p>
                        </div>
                        <h5 class="sub-title text-capitalize">
                            Posted by
                            <a class="blog-link theme-color d-inline-block mx-1" href="https://themeforest.net/user/hastech" tabindex="0">
                                HasTech
                            </a> Oct 4TH, 2020
                            <a class="blog-link theme-color d-inline-block mx-1" href="https://themeforest.net/user/hastech" tabindex="0">
                                Fashion
                            </a>
                        </h5>
                        <p class="text-design">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when ...
                        </p>
                        <a class="btn primary-btn btn-theme1 text-capitalize design" href="single-blog.html" tabindex="0">Read More</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6  col-md-6 col-lg-4 col-xl-4 mb-30">
                    <div class="blog-card cart-design">
                        <div class="blog-card__image zoom-in overflow-hidden">
                            <img src="/Assets/img/blog-post1.jpg">
                        </div>
                        <div class="blog-card__title">
                            <p> Web Design Trends for 2016 </p>
                        </div>
                        <h5 class="sub-title text-capitalize">
                            Posted by
                            <a class="blog-link theme-color d-inline-block mx-1" href="https://themeforest.net/user/hastech" tabindex="0">
                                HasTech
                            </a> Oct 4TH, 2020
                            <a class="blog-link theme-color d-inline-block mx-1" href="https://themeforest.net/user/hastech" tabindex="0">
                                Fashion
                            </a>
                        </h5>
                        <p class="text-design">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when ...
                        </p>
                        <a class="btn primary-btn btn-theme1 text-capitalize design" href="single-blog.html" tabindex="0">Read More</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6  col-md-6 col-lg-4 col-xl-4 mb-30">
                    <div class="blog-card cart-design">
                        <div class="blog-card__image zoom-in overflow-hidden">
                            <img src="/Assets/img/blog-post1.jpg">
                        </div>
                        <div class="blog-card__title">
                            <p> Web Design Trends for 2016 </p>
                        </div>
                        <h5 class="sub-title text-capitalize">
                            Posted by
                            <a class="blog-link theme-color d-inline-block mx-1" href="https://themeforest.net/user/hastech" tabindex="0">
                                HasTech
                            </a> Oct 4TH, 2020
                            <a class="blog-link theme-color d-inline-block mx-1" href="https://themeforest.net/user/hastech" tabindex="0">
                                Fashion
                            </a>
                        </h5>
                        <p class="text-design">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when ...
                        </p>
                        <a class="btn primary-btn btn-theme1 text-capitalize design" href="single-blog.html" tabindex="0">Read More</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6  col-md-6 col-lg-4 col-xl-4 mb-30">
                    <div class="blog-card cart-design">
                        <div class="blog-card__image zoom-in overflow-hidden">
                            <img src="/Assets/img/blog-post1.jpg">
                        </div>
                        <div class="blog-card__title">
                            <p> Web Design Trends for 2016 </p>
                        </div>
                        <h5 class="sub-title text-capitalize">
                            Posted by
                            <a class="blog-link theme-color d-inline-block mx-1" href="https://themeforest.net/user/hastech" tabindex="0">
                                HasTech
                            </a> Oct 4TH, 2020
                            <a class="blog-link theme-color d-inline-block mx-1" href="https://themeforest.net/user/hastech" tabindex="0">
                                Fashion
                            </a>
                        </h5>
                        <p class="text-design">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when ...
                        </p>
                        <a class="btn primary-btn btn-theme1 text-capitalize design" href="single-blog.html" tabindex="0">Read More</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6  col-md-6 col-lg-4 col-xl-4 mb-30">
                    <div class="blog-card cart-design">
                        <div class="blog-card__image zoom-in overflow-hidden">
                            <img src="/Assets/img/blog-post1.jpg">
                        </div>
                        <div class="blog-card__title">
                            <p> Web Design Trends for 2016 </p>
                        </div>
                        <h5 class="sub-title text-capitalize">
                            Posted by
                            <a class="blog-link theme-color d-inline-block mx-1" href="https://themeforest.net/user/hastech" tabindex="0">
                                HasTech
                            </a> Oct 4TH, 2020
                            <a class="blog-link theme-color d-inline-block mx-1" href="https://themeforest.net/user/hastech" tabindex="0">
                                Fashion
                            </a>
                        </h5>
                        <p class="text-design">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when ...
                        </p>
                        <a class="btn primary-btn btn-theme1 text-capitalize design" href="single-blog.html" tabindex="0">Read More</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6  col-md-6 col-lg-4 col-xl-4 mb-30">
                    <div class="blog-card cart-design">
                        <div class="blog-card__image zoom-in overflow-hidden">
                            <img src="/Assets/img/blog-post1.jpg">
                        </div>
                        <div class="blog-card__title">
                            <p> Web Design Trends for 2016 </p>
                        </div>
                        <h5 class="sub-title text-capitalize">
                            Posted by
                            <a class="blog-link theme-color d-inline-block mx-1" href="https://themeforest.net/user/hastech" tabindex="0">
                                HasTech
                            </a> Oct 4TH, 2020
                            <a class="blog-link theme-color d-inline-block mx-1" href="https://themeforest.net/user/hastech" tabindex="0">
                                Fashion
                            </a>
                        </h5>
                        <p class="text-design">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when ...
                        </p>
                        <a class="btn primary-btn btn-theme1 text-capitalize design" href="single-blog.html" tabindex="0">Read More</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6  col-md-6 col-lg-4 col-xl-4 mb-30">
                    <div class="blog-card cart-design">
                        <div class="blog-card__image zoom-in overflow-hidden">
                            <img src="/Assets/img/blog-post1.jpg">
                        </div>
                        <div class="blog-card__title">
                            <p> Web Design Trends for 2016 </p>
                        </div>
                        <h5 class="sub-title text-capitalize">
                            Posted by
                            <a class="blog-link theme-color d-inline-block mx-1" href="https://themeforest.net/user/hastech" tabindex="0">
                                HasTech
                            </a> Oct 4TH, 2020
                            <a class="blog-link theme-color d-inline-block mx-1" href="https://themeforest.net/user/hastech" tabindex="0">
                                Fashion
                            </a>
                        </h5>
                        <p class="text-design">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when ...
                        </p>
                        <a class="btn primary-btn btn-theme1 text-capitalize design" href="single-blog.html" tabindex="0">Read More</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6  col-md-6 col-lg-4 col-xl-4 mb-30">
                    <div class="blog-card cart-design">
                        <div class="blog-card__image zoom-in overflow-hidden">
                            <img src="/Assets/img/blog-post1.jpg">
                        </div>
                        <div class="blog-card__title">
                            <p> Web Design Trends for 2016 </p>
                        </div>
                        <h5 class="sub-title text-capitalize">
                            Posted by
                            <a class="blog-link theme-color d-inline-block mx-1" href="https://themeforest.net/user/hastech" tabindex="0">
                                HasTech
                            </a> Oct 4TH, 2020
                            <a class="blog-link theme-color d-inline-block mx-1" href="https://themeforest.net/user/hastech" tabindex="0">
                                Fashion
                            </a>
                        </h5>
                        <p class="text-design">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when ...
                        </p>
                        <a class="btn primary-btn btn-theme1 text-capitalize design" href="single-blog.html" tabindex="0">Read More</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6  col-md-6 col-lg-4 col-xl-4 mb-30">
                    <div class="blog-card cart-design">
                        <div class="blog-card__image zoom-in overflow-hidden">
                            <img src="/Assets/img/blog-post1.jpg">
                        </div>
                        <div class="blog-card__title">
                            <p> Web Design Trends for 2016 </p>
                        </div>
                        <h5 class="sub-title text-capitalize">
                            Posted by
                            <a class="blog-link theme-color d-inline-block mx-1" href="https://themeforest.net/user/hastech" tabindex="0">
                                HasTech
                            </a> Oct 4TH, 2020
                            <a class="blog-link theme-color d-inline-block mx-1" href="https://themeforest.net/user/hastech" tabindex="0">
                                Fashion
                            </a>
                        </h5>
                        <p class="text-design">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when ...
                        </p>
                        <a class="btn primary-btn btn-theme1 text-capitalize design" href="single-blog.html" tabindex="0">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog-grid-section end -->
    <!-- common banner news-letter end -->
    <partial name="_newsletters" />
    <!-- common banner news-letter end -->
</main>