@model AboutUs

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-light bg-light mt-1">
    <a class="ml-5 navbar-brand">
        <img src="~/Assets/img/logo-dark.jpg" width="110" height="25" class="d-inline-block align-top" alt="">
        AboutUs / Edit
    </a>
    <a asp-action="Index" class="btn btn-outline-dark mt-3 mr-5">
        <span class="text">Back to List</span>
    </a>
</nav>
<div class="container">
    <hr />
    <div class="row ml-5">
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data" method="post" class="ml-5">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Upload" class="control-label"></label>
                    <input asp-for="Upload" class="form-control" />
                    <span asp-validation-for="Upload" class="text-danger"></span>
                    <div class="form-group">
                        <img class="image-preview img-fluid" />
                    </div>
                </div>
                <input type="hidden" asp-for="Photo" />
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Text" class="control-label"></label>
                    <input asp-for="Text" class="form-control" />
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#Upload").change(function () {
                var file = this.files[0];
                var fileReader = new FileReader();
                fileReader.onload = function (e) {
                    $(".image-preview").attr("src", e.target.result);
                };
                fileReader.readAsDataURL(file, "UTF-8");
            });
        });
    </script>
}