<nav class="breadcrumb-section breadcrumb-bg1" style="background: url('/Assets/img/breadcrumb-main-photo1.jpg')no-repeat center center/cover">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-title text-center my-20">
                    <h2 class="title text-dark text-capitalize">about us</h2>
                </div>
            </div>
            <div class="col-12">
                <ol class="breadcrumb bg-transparent m-0 p-0 align-items-center justify-content-center">
                    <li class="breadcrumb-item"><a href="index.html"> Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <i class="fas fa-angle-right"></i> about us
                    </li>
                </ol>
            </div>
        </div>
    </div>
</nav>