<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ea4ac9830e.js" crossorigin="anonymous"></script>
    <link href="~/Assets/css/style.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="~/Assets/js/limonte-sweetalert2/sweetalert2.all.min.js"></script>
    <link href="~/Assets/css/animated.css" rel="stylesheet" />
    <link href="~/Assets/css/toastr.min.css" rel="stylesheet" />
    @RenderSection("css", required: false)
</head>

<body>
    <header class="bg-lighter">
        <!-- head-nav-->
        <section id="head-nav-zon" class="">
            <div class="container ">
                <div class="row align-items-center">
                    <div class="col-6 col-lg-2 col-xl-3">
                        <nav class="navbar nav-zon">
                            <a asp-controller="Home" asp-action="Index" class="navbar-brand logo-zon">
                                <img src="/Assets/img/logo-dark.jpg" />
                            </a>
                        </nav>
                    </div>
                    <div class="col-sm-6 col-lg-7 col-xl-6 d-none d-lg-block">
                        <nav class="navbar navbar-expand-lg ">
                            <div class="collapse navbar-collapse">
                                <ul class="navbar-nav">
                                    <li class="nav-item ">
                                        <a asp-controller="Home" asp-action="Index" class="nav-link active">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link">Shop <i class="fas fa-angle-down"></i></a>
                                        <div class="dropdown-menu">
                                            <div class="row d-flex justify-content-between lg-menu">
                                                <div class="lg-menu-item col-4">
                                                    <div class="dropdown-header">Shop</div>
                                                    <a asp-controller="Product" asp-action="productGrid" class="dropdown-item">Products Page</a>
                                                    <a asp-controller="Product" asp-action="compare" class="dropdown-item">Compare Page</a>
                                                </div>
                                                <div class="lg-menu-item col-4">
                                                    <div class="dropdown-header">Account</div>
                                                    <a asp-controller="Account" asp-action="profile" class="dropdown-item">Profile Page</a>
                                                    <a asp-controller="Account" asp-action="chekout" class="dropdown-item">Chekout Page</a>
                                                    <a asp-controller="Account" asp-action="login" class="dropdown-item">Login & Register Page</a>

                                                </div>
                                                <div class="lg-menu-item col-4">
                                                    <div class="dropdown-header">Ohter</div>
                                                    <a asp-controller="Aboutus" asp-action="AboutUs" class="dropdown-item">About Us Page</a>
                                                    <a asp-controller="Shop" asp-action="cart" class="dropdown-item">Cart Page</a>
                                                    <a asp-controller="Shop" asp-action="wish" class="dropdown-item">Wishlist Page</a>
                                                </div>
                                                <div class="col-lg-12 mt-5 image-promo">
                                                    <img src="~/Assets/img/promo.jpg" class="img-fluid " alt="promo">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link">Pages <i class="fas fa-angle-down"></i></a>
                                        <div class="second-dropdown">
                                            <div class="lg-menu">
                                                <ul class="lg-menu-item">
                                                    <li><a asp-controller="Aboutus" asp-action="AboutUs" class="dropdown-item">About Us Page</a></li>
                                                    <li><a asp-controller="Shop" asp-action="cart" class="dropdown-item">Cart Page</a></li>
                                                    <li><a asp-controller="Account" asp-action="chekout" class="dropdown-item">Chekout Page</a></li>
                                                    <li><a asp-controller="Product" asp-action="compare" class="dropdown-item">Compare Page</a></li>
                                                    <li><a asp-controller="Account" asp-action="login" class="dropdown-item">Login & Register Page</a></li>
                                                    <li><a asp-controller="Account" asp-action="profile" class="dropdown-item">Account Page</a></li>
                                                    <li><a asp-controller="Shop" asp-action="wish" class="dropdown-item">Wishlist Page</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Blog" asp-action="blogGrid" class="nav-link">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="ContactUs" asp-action="Contact" class="nav-link">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-6 col-lg-3 col-xl-3">
                        <div class="d-flex align-items-end my-icon-group">
                            <div class="my-cart cart-block-links mt-2">
                                <ul class="d-flex mt-4">
                                    <li>
                                        <a href="#" class="icons">
                                            <i class="fas fa-search search-toggle"></i>
                                        </a>
                                    </li>
                                    <li class="position-relative d-none d-sm-block">
                                        <a asp-controller="Product" asp-action="compare" class="icons compare-items">
                                            <vc:compare-icon-bagde-component></vc:compare-icon-bagde-component>
                                        </a>
                                    </li>
                                    <li class="position-relative d-none d-sm-block">
                                        <a href="#" class="icons wish-trigger">
                                            <vc:wish-icon-badge-component></vc:wish-icon-badge-component>
                                        </a>
                                    </li>
                                    <li class="cart-block position-relative d-none d-sm-block">
                                        <a href="#" class="icons card-trigger">
                                            <vc:icon-badge-component></vc:icon-badge-component>
                                        </a>
                                    </li>
                                    <li class="mr-0 cart-block">
                                        <a href="#" class="icons setting-trigger">
                                            <i class="fas fa-cog"></i>
                                        </a>
                                    </li>
                                    <li class="mr-0 cart-block">
                                        <a href="#" class="icons mobile-trigger ">
                                            <i class="fas fa-bars"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- head-nav-end-->
    </header>

    <!-- wish-nav-->
    <section class="wish">
        <nav class="nav-container">
            <vc:wish-nav-component></vc:wish-nav-component>
        </nav>
        <div class="overlays"></div>
    </section>
    <!-- cart-nav-->
    <section class="cart">
        <nav class="nav-container-second">
            <vc:cart-nav-component></vc:cart-nav-component>
        </nav>
        <div class="overlays"></div>
    </section>
    <!-- setting -->
    <section class="setting">
        <nav class="nav-container-third">
            <div class="inner">
                <div class="head d-flex flex-wrap justify-content-between">
                    <span class="title">Setting</span>
                    <button class="offcanvas-close">×</button>
                </div>
                <ul class="minicart-product-list">
                    <li>
                        <div class="content context">
                            <p class="heading">My Account</p>
                            <a asp-controller="Account" asp-action="profile" class="line-text">My account</a>
                            <a asp-controller="Account" asp-action="chekout" class="line-text">Checkout</a>
                            <a asp-controller="Account" asp-action="login" class="line-text">Sign in</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="overlays"></div>
    </section>
    <!-- mobile -->
    <section class="mobile">
        <nav class="nav-container-fifth">
            <div class="inner">
                <div class="head d-flex flex-wrap justify-content-between">
                    <span class="title">Menu</span>
                    <button class="offcanvas-close">×</button>
                </div>
                <ul class="minicart-product-list">
                    <li>
                        <div class="content context">
                            <p class="heading">Zonan</p>


                            <a class="line-text">About Us</a>
                            <a class="line-text">About Us</a>
                            <a class="line-text">About Us</a>
                            <a class="line-text">About Us</a>
                            <a class="line-text">Checkout</a>


                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="overlays"></div>
    </section>
    <!-- Back to top button -->
    <a id="button"></a>

    @RenderBody()

    <footer class="bg-lighter">
        <!-- footer bottom start -->
        <div class="footer-bottom padding-head-foot">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-6 ">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html">
                                    <img src="/Assets/img/logo-dark.jpg" alt="footer logo">
                                </a>
                            </div>
                            <p class="text">We are a team of designers and developers that create high quality Magento, Prestashop, Opencart.</p>
                            <div class="social-network">
                                <h2 class="title text-capitalize">Follow Us On Social:</h2>
                                <ul class="d-flex">
                                    <li><a class="icons" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                                    <li><a class="icons" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a class="icons" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                    <li><a class="icons" href="https://www.youtube.com/" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a class="icons" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-2 ">
                        <div class="footer-widget">
                            <div class="section-title">
                                <h2 class="title text-dark text-capitalize">My Account</h2>
                            </div>
                            <address class="mb-0">
                                <span>Saturday - Thurs: 9AM - 6PM</span>
                                <span>Sat: 9AM-6PM</span>
                                <span>Friday Closed</span>
                                <span>We Work All The Holidays</span>
                            </address>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-2 ">
                        <div class="footer-widget">
                            <div class="section-title">
                                <h2 class="title text-dark text-capitalize">Opening Time</h2>
                            </div>
                            <!-- footer-menu start -->
                            <ul class="footer-menu">
                                <li><a href="#">Delivery</a></li>
                                <li><a href="about-us.html">About us</a></li>
                                <li><a href="#">Secure payment</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a href="#">Sitemap</a></li>
                                <li><a href="#">Stores</a></li>
                            </ul>
                            <!-- footer-menu end -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-2 ">
                        <div class="footer-widget">
                            <div class="section-title mb-20">
                                <h2 class="title text-dark text-capitalize">Information</h2>
                            </div>
                            <!-- footer-menu start -->
                            <ul class="footer-menu ">
                                <li><a href="#">Legal Notice</a></li>
                                <li><a href="#">Prices drop</a></li>

                                <li><a href="#">New products</a></li>

                                <li><a href="#">Best sales</a></li>

                                <li><a href="login.html">Login</a></li>

                                <li><a href="myaccount.html">My account</a></li>
                            </ul>
                            <!-- footer-menu end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer bottom end -->
        <!-- copy-right start -->
        <div class="copy-right">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="border-top">
                            <div class="row">
                                <div class="col-12 col-md-5 col-lg-4 col-xl-3 order-last order-md-first">
                                    <div class="text-center text-lg-left">
                                        <p class="mb-3 mb-md-0">Copyright © <a href="https://hasthemes.com/">HasThemes</a>. All Rights Reserved</p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-7 col-lg-8 col-xl-9">
                                    <ul class="footer-menu copyright-menu d-flex flex-wrap justify-content-center justify-content-md-end">
                                        <li><a href="#">Legal Notice</a></li>
                                        <li><a href="#">Prices drop</a></li>

                                        <li><a href="#">New products</a></li>

                                        <li><a href="#">Best sales</a></li>

                                        <li><a href="login.html">Login</a></li>

                                        <li><a href="myaccount.html">My account</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- copy-right end -->
    </footer>
    <!-- overlay-search-box  start -->
    <div class="overlay">
        <div class="scale"></div>
        <form class="search-box">
            <input type="text" name="search" placeholder="Search products.....">
            <button id="close" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <button class="close"><i class="fas fa-times"></i></button>
    </div>
    <!-- overlay-search-box end -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="~/Assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Assets/js/popper.min.js"></script>
    <script src="~/Assets/js/sweetalert.min.js"></script>
    <script src="~/Assets/js/toastr.min.js"></script>
    <script src="~/Assets/js/main.js"></script>
    <script src="~/Assets/js/AjaxClick.js"></script>
    
    @RenderSection("Javascript", required: false)
</body>
 
</html>