@model Subscriber
<!-- common banner news-letter end -->
<section class="newsletter padding-head-foot">
    <div class="container border-top">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="row"> 
                        <div class="col-12">
                            <div class="form-title text-center">
                                <p class="news-context">Special Ofers For Subscribers</p>
                                <h4 class="news-title text-capitalize">Ten Percent Member Discount</h4>
                            </div>
                        </div>
                    </div>
                    <form class="input-group subscr-form">
                        <input asp-for="Email" class="form-control" placeholder="Your email address">
                        <span class="input-group-btn">
                            <button class="btn text-uppercase my-alert" type="submit">Subscribe</button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- common banner news-letter end -->
