<figure class="prod-box">
    <div class="img-holder position-relative">
        <span class="badge badge-danger ">New</span>
        <span class="badge badge-dark ">-20%</span>
        <a href="#">
            <img src="/Assets/img/prod1.jpg" class="item-img-1 img-fluid" alt="Something">
            <img src="/Assets/img/prod1.1.jpg" class="item-img-2 img-fluid" alt="Something2">
        </a>
        <div class="blok-hover">
            <div class="product-links d-flex d-flex justify-content-between align-items-center">
                <p class="text-uppercase ">Add to card</p>
                <ul class="d-flex justify-content-center">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#quick-view" tabindex="0">
                            <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-search" data-original-title="Quick view"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#compare" tabindex="0">
                            <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-random" data-original-title="Add to compare"></span>
                        </a>
                    </li>
                    <li>
                        <a href="wishlist.html" tabindex="0">
                            <span data-toggle="tooltip" data-placement="bottom" title="" class="far fa-heart" data-original-title="add to wishlist"> </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="anons">
        <div class="star-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <a class="info" href="shop-grid-4-column.html">
            Juicy
            Couture
            Juicy Quilted Terry Track Jacket
        </a>
        <h5 class="product-price">
            <del class="del">$23.90</del>
            <span class="onsale">$21.51</span>
        </h5>
    </div>
</figure>
<figure class="prod-box">
    <div class="img-holder position-relative">
        <span class="badge badge-danger ">New</span>
        <span class="badge badge-dark ">-20%</span>
        <a href="#">
            <img src="/Assets/img/prod1.jpg" class="item-img-1 img-fluid" alt="Something">
            <img src="/Assets/img/prod1.1.jpg" class="item-img-2 img-fluid" alt="Something2">
        </a>
        <div class="blok-hover">
            <div class="product-links d-flex d-flex justify-content-between align-items-center">
                <p class="text-uppercase ">Add to card</p>
                <ul class="d-flex justify-content-center">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#quick-view" tabindex="0">
                            <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-search" data-original-title="Quick view"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#compare" tabindex="0">
                            <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-random" data-original-title="Add to compare"></span>
                        </a>
                    </li>
                    <li>
                        <a href="wishlist.html" tabindex="0">
                            <span data-toggle="tooltip" data-placement="bottom" title="" class="far fa-heart" data-original-title="add to wishlist"> </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="anons">
        <div class="star-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <a class="info" href="shop-grid-4-column.html">
            Juicy
            Couture
            Juicy Quilted Terry Track Jacket
        </a>
        <h5 class="product-price">
            <del class="del">$23.90</del>
            <span class="onsale">$21.51</span>
        </h5>
    </div>
</figure>
<figure class="prod-box">
    <div class="img-holder position-relative">
        <span class="badge badge-danger ">New</span>
        <span class="badge badge-dark ">-20%</span>
        <a href="#">
            <img src="/Assets/img/prod1.jpg" class="item-img-1 img-fluid" alt="Something">
            <img src="/Assets/img/prod1.1.jpg" class="item-img-2 img-fluid" alt="Something2">
        </a>
        <div class="blok-hover">
            <div class="product-links d-flex d-flex justify-content-between align-items-center">
                <p class="text-uppercase ">Add to card</p>
                <ul class="d-flex justify-content-center">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#quick-view" tabindex="0">
                            <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-search" data-original-title="Quick view"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#compare" tabindex="0">
                            <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-random" data-original-title="Add to compare"></span>
                        </a>
                    </li>
                    <li>
                        <a href="wishlist.html" tabindex="0">
                            <span data-toggle="tooltip" data-placement="bottom" title="" class="far fa-heart" data-original-title="add to wishlist"> </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="anons">
        <div class="star-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <a class="info" href="shop-grid-4-column.html">
            Juicy
            Couture
            Juicy Quilted Terry Track Jacket
        </a>
        <h5 class="product-price">
            <del class="del">$23.90</del>
            <span class="onsale">$21.51</span>
        </h5>
    </div>
</figure>
<figure class="prod-box">
    <div class="img-holder position-relative">
        <span class="badge badge-danger ">New</span>
        <span class="badge badge-dark ">-20%</span>
        <a href="#">
            <img src="/Assets/img/prod1.jpg" class="item-img-1 img-fluid" alt="Something">
            <img src="/Assets/img/prod1.1.jpg" class="item-img-2 img-fluid" alt="Something2">
        </a>
        <div class="blok-hover">
            <div class="product-links d-flex d-flex justify-content-between align-items-center">
                <p class="text-uppercase ">Add to card</p>
                <ul class="d-flex justify-content-center">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#quick-view" tabindex="0">
                            <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-search" data-original-title="Quick view"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#compare" tabindex="0">
                            <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-random" data-original-title="Add to compare"></span>
                        </a>
                    </li>
                    <li>
                        <a href="wishlist.html" tabindex="0">
                            <span data-toggle="tooltip" data-placement="bottom" title="" class="far fa-heart" data-original-title="add to wishlist"> </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="anons">
        <div class="star-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <a class="info" href="shop-grid-4-column.html">
            Juicy
            Couture
            Juicy Quilted Terry Track Jacket
        </a>
        <h5 class="product-price">
            <del class="del">$23.90</del>
            <span class="onsale">$21.51</span>
        </h5>
    </div>
</figure>
<figure class="prod-box">
    <div class="img-holder position-relative">
        <span class="badge badge-danger ">New</span>
        <span class="badge badge-dark ">-20%</span>
        <a href="#">
            <img src="/Assets/img/prod1.jpg" class="item-img-1 img-fluid" alt="Something">
            <img src="/Assets/img/prod1.1.jpg" class="item-img-2 img-fluid" alt="Something2">
        </a>
        <div class="blok-hover">
            <div class="product-links d-flex d-flex justify-content-between align-items-center">
                <p class="text-uppercase ">Add to card</p>
                <ul class="d-flex justify-content-center">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#quick-view" tabindex="0">
                            <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-search" data-original-title="Quick view"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#compare" tabindex="0">
                            <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-random" data-original-title="Add to compare"></span>
                        </a>
                    </li>
                    <li>
                        <a href="wishlist.html" tabindex="0">
                            <span data-toggle="tooltip" data-placement="bottom" title="" class="far fa-heart" data-original-title="add to wishlist"> </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="anons">
        <div class="star-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <a class="info" href="shop-grid-4-column.html">
            Juicy
            Couture
            Juicy Quilted Terry Track Jacket
        </a>
        <h5 class="product-price">
            <del class="del">$23.90</del>
            <span class="onsale">$21.51</span>
        </h5>
    </div>
</figure>
<figure class="prod-box">
    <div class="img-holder position-relative">
        <span class="badge badge-danger ">New</span>
        <span class="badge badge-dark ">-20%</span>
        <a href="#">
            <img src="/Assets/img/prod1.jpg" class="item-img-1 img-fluid" alt="Something">
            <img src="/Assets/img/prod1.1.jpg" class="item-img-2 img-fluid" alt="Something2">
        </a>
        <div class="blok-hover">
            <div class="product-links d-flex d-flex justify-content-between align-items-center">
                <p class="text-uppercase ">Add to card</p>
                <ul class="d-flex justify-content-center">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#quick-view" tabindex="0">
                            <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-search" data-original-title="Quick view"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#compare" tabindex="0">
                            <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-random" data-original-title="Add to compare"></span>
                        </a>
                    </li>
                    <li>
                        <a href="wishlist.html" tabindex="0">
                            <span data-toggle="tooltip" data-placement="bottom" title="" class="far fa-heart" data-original-title="add to wishlist"> </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="anons">
        <div class="star-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <a class="info" href="shop-grid-4-column.html">
            Juicy
            Couture
            Juicy Quilted Terry Track Jacket
        </a>
        <h5 class="product-price">
            <del class="del">$23.90</del>
            <span class="onsale">$21.51</span>
        </h5>
    </div>
</figure>