@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
.text-uppercase {
  text-transform: uppercase !important;
}

.primary-btn {
  background-color: #ffffff;
  padding: 18px 44px;
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 1px;
  overflow: hidden;
  color: #292929;
  border: 2px solid #292929;
  border-radius: 0;
}

.lrg-btn {
  padding: 22px 55px;
}

.btn-theme1:hover {
  color: #ffffff;
  background: #292929;
}

.btn-text {
  text-transform: uppercase;
}

.btn-theme2:hover {
  color: #ffffff;
  background: #2caf4e;
  border-color: #2caf4e;
}

.secondary-btn {
  background-color: #ffffff;
  padding: 16px 40px;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 1px;
  overflow: hidden;
  color: #292929;
  border: 1px solid #292929;
  border-radius: 0;
}

.third-btn {
  color: #ffffff;
  background: #292929;
  border-radius: 0;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url("/Assets/fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Heavy';
  src: url("/Assets/fonts/Gilroy-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url("/Assets/fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url("/Assets/fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url("/Assets/fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1230px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #292929 !important;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.ul,
li {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

.img {
  max-width: 100%;
}

a,
button {
  border-radius: 0;
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:focus,
a:hover,
.btn:focus,
.btn:hover,
button:focus,
button:hover {
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #292929;
  margin-top: 0px;
  font-style: normal;
  font-weight: 500;
  text-transform: normal;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

p {
  color: #f5f5f5;
  line-height: 28px;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

#head-nav-zon {
  background-color: #f4f4f4;
  padding-top: 2rem;
  position: relative;
}

#head-nav-zon .navbar-nav {
  position: absolute;
  top: -8px;
  right: 127px;
}

#head-nav-zon .navbar-nav .nav-item .active {
  color: #2caf4e;
}

#head-nav-zon .navbar-nav .nav-item a {
  display: block;
  font-weight: 600;
  padding: 10px 18px;
  font-size: 12px;
  text-transform: uppercase;
  color: #707070;
  white-space: nowrap;
}

#head-nav-zon .navbar-nav .nav-item a:hover {
  color: #2caf4e;
}

#head-nav-zon .navbar-nav .nav-item i {
  margin-left: 9px;
  font-size: small;
}

#head-nav-zon .icon-group {
  position: absolute;
  top: -44px;
  left: 5px;
}

#head-nav-zon .icon-group .my-cart a span {
  position: absolute;
  top: 3px;
  left: 27px;
  color: #2caf4e;
}

#head-nav-zon .icon-group .my-cart a.icons {
  font-size: 15px;
  white-space: nowrap;
  color: #292929;
}

#head-nav-zon .icon-group .my-cart a.icons i {
  padding: 13px 13px;
  font-size: 15px;
  margin-left: 4px;
  border-radius: 50%;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

#head-nav-zon .icon-group .my-cart a.icons i:hover {
  font-size: 15px;
  background: #292929;
  padding: 13px 13px;
  border-radius: 50%;
  color: #ffffff;
}

#main-slider {
  z-index: 99;
  max-width: 1520px;
  margin: 0 auto;
  display: block;
}

#main-slider .slider a {
  margin-top: -6rem;
  background-position: center;
  background-size: cover;
  display: block;
  width: 100%;
  padding-top: 56%;
  /** HEIGHT : WIDTH x 100 **/
}

#main-slider .slider-one {
  background-image: url("/Assets/img/slide1.jpg");
}

#main-slider .slider-two {
  background-image: url("/Assets/img/slide2.jpg");
}
/*# sourceMappingURL=style.css.map */