@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
.text-uppercase {
  text-transform: uppercase !important;
}

.primary-btn {
  background-color: #ffffff;
  padding: 10px 44px;
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 1px;
  overflow: hidden;
  color: #292929;
  border: 2px solid #292929;
  border-radius: 0;
}

.lrg-btn {
  padding: 15px 50px;
}

.btn-theme1:hover {
  color: #ffffff;
  background: #292929;
}

.btn-text {
  text-transform: uppercase;
}

.btn-theme2:hover {
  color: #ffffff;
  background: #2caf4e;
  border-color: #2caf4e;
}

.secondary-btn {
  background-color: #ffffff;
  padding: 16px 40px;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 1px;
  overflow: hidden;
  color: #292929;
  border: 1px solid #292929;
  border-radius: 0;
}

.third-btn {
  color: #ffffff;
  background: #292929;
  border-radius: 0;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url("/Assets/fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Heavy';
  src: url("/Assets/fonts/Gilroy-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url("/Assets/fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url("/Assets/fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url("/Assets/fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1230px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #292929 !important;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.ul,
li {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

.img {
  max-width: 100%;
}

a,
button {
  border-radius: 0;
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:focus,
a:hover,
.btn:focus,
.btn:hover,
button:focus,
button:hover {
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #292929;
  margin-top: 0px;
  font-style: normal;
  font-weight: 500;
  text-transform: normal;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

p {
  color: inherit;
  line-height: 28px;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
  color: #707070;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.bg-lighter {
  background: #f5f5f5;
}

.bg-white {
  background-color: #ffffff;
}

.bg-main {
  background-color: #f4f4f4 !important;
}

.title {
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  color: #292929;
  margin-bottom: 2rem;
}

.padding-head-foot {
  padding: 2rem 0;
}

.overflow-hidden {
  overflow: hidden !important;
  width: 100%;
}

.position-relative {
  position: relative;
}

.zoom-in:hover img {
  -webkit-transform: scale(1.13) rotate(0.05deg);
          transform: scale(1.13) rotate(0.05deg);
}

.zoom-in img {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 100%;
}

.theme-color {
  color: #2caf4e;
}

.head-title {
  margin-bottom: 29px;
}

.head-title h2.title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px;
}

.head-title p.text {
  font-weight: 400;
  color: #707070;
  font-size: 12px;
  line-height: 1.5;
}

.new-products, .feature-slider, .new-blog-carousel {
  background: #ffffff;
}

.new-products:hover .arrows, .feature-slider:hover .arrows, .new-blog-carousel:hover .arrows {
  opacity: 1;
  visibility: visible;
}

.new-products .arrows, .feature-slider .arrows, .new-blog-carousel .arrows {
  opacity: 0;
  visibility: hidden;
}

.new-products .arrows .prev,
.new-products .arrows .next, .feature-slider .arrows .prev,
.feature-slider .arrows .next, .new-blog-carousel .arrows .prev,
.new-blog-carousel .arrows .next {
  position: absolute;
  top: 50%;
  z-index: 2;
  font-size: 14px;
  color: #707070;
  left: -4px;
  cursor: pointer;
  background-color: #ffffff;
  padding: 7px 14px;
  border-radius: 50%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  border: 1px solid #f4f4f4;
}

.new-products .arrows .prev:hover,
.new-products .arrows .next:hover, .feature-slider .arrows .prev:hover,
.feature-slider .arrows .next:hover, .new-blog-carousel .arrows .prev:hover,
.new-blog-carousel .arrows .next:hover {
  color: #ffffff;
  background-color: #2caf4e;
}

.new-products .arrows .next, .feature-slider .arrows .next, .new-blog-carousel .arrows .next {
  left: initial;
  right: -4px;
}

.prod-box {
  height: 100%;
  min-height: 1%;
}

.prod-box .img-holder {
  margin-top: 3px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.prod-box .img-holder span.badge-danger {
  top: 14px;
  left: 14px;
  position: absolute;
  padding: 18px 11px;
  border-radius: 50%;
  background-color: #2caf4e !important;
}

.prod-box .img-holder span.badge-dark {
  top: 14px;
  left: 14px;
  position: absolute;
  padding: 18.5px 9px;
  border-radius: 50%;
  z-index: 7;
}

.prod-box .img-holder a {
  -webkit-transition: all 0.6s !important;
  transition: all 0.6s !important;
}

.prod-box .img-holder:hover .item-img-2 {
  display: block;
}

.prod-box .img-holder:hover .item-img-1 {
  display: none;
}

.prod-box .img-holder img {
  max-height: 100%;
}

.prod-box .item-img-2 {
  display: none;
}

.prod-box .anons {
  padding: 5px;
}

.prod-box .anons .star-rating i {
  font-weight: 400;
  line-height: 3;
  margin: 0 1px 0 0;
  font-size: 12px;
  color: #fdd835;
}

.prod-box .anons .product-price del {
  font-size: 13px;
  color: #999;
}

.prod-box .anons .product-price span {
  font-weight: bold;
  font-size: 16px;
}

.prod-box p {
  margin: 0;
  padding: 3px;
}

.prod-box .price {
  float: left;
  color: #d90000;
}

.prod-box .sold {
  float: right;
  color: #999;
}

.prod-box .info {
  font-weight: 400;
  line-height: 1.5;
  font-size: 14px;
  text-transform: capitalize;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  color: #999;
}

.prod-box .info:hover {
  color: #2caf4e;
}

.prod-box .action {
  width: 39%;
  float: right;
  position: relative;
}

.prod-box .action .btn {
  width: 100%;
}

.prod-box .action .btn-add {
  display: none;
  position: absolute;
}

.prod-box .action:hover .btn-add {
  display: block;
}

.prod-box:hover .blok-hover {
  bottom: 17px;
  opacity: 1;
  width: 80%;
}

.prod-box .btn-add:hover {
  background-color: #d90000;
  color: #ffffff;
}

.blok-hover {
  border-left: 1px solid #707070;
  background: #ffffff;
  width: 80%;
  position: absolute;
  left: 1.5rem;
  bottom: -50px;
  height: 50px;
  color: #ffffff;
  z-index: 9;
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

.blok-hover .product-links {
  margin-top: 0.8rem;
  padding-left: 5px;
}

.blok-hover .product-links p {
  font-size: 13px;
  white-space: pre;
  margin-top: -17px;
}

.blok-hover .product-links p:hover {
  color: #2caf4e;
  font-size: 13px;
  white-space: pre;
  margin-top: -17px;
}

.blok-hover .product-links ul li a {
  display: block;
  background: #fff;
  color: #292929;
  height: 25px;
  width: 25px;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #b4b4b4;
  text-transform: capitalize;
}

.blok-hover .product-links ul li a:hover {
  color: #2caf4e;
  font-size: 14px;
}

.blok-hover i {
  color: inherit;
  display: inline-block;
  padding: 10px;
  font-size: 14px;
}

.blok-hover i:hover {
  color: yellow;
}

#head-nav-zon {
  background-color: transparent;
  padding-top: 0.3rem;
  position: relative;
  z-index: 99;
}

#head-nav-zon .navbar-nav {
  position: absolute;
  top: -8px;
  right: 127px;
}

#head-nav-zon .navbar-nav .nav-item:hover .second-dropdown .lg-menu .lg-menu-item, #head-nav-zon .navbar-nav .nav-item:hover .third-dropdown .lg-menu .lg-menu-item {
  opacity: 1;
  visibility: visible;
}

#head-nav-zon .navbar-nav .nav-item .dropdown-menu {
  border: transparent;
  padding: 2rem 2rem;
  position: absolute;
  left: -17.5rem;
  right: -26rem;
}

#head-nav-zon .navbar-nav .nav-item .dropdown-menu .lg-menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

#head-nav-zon .navbar-nav .nav-item .dropdown-menu .lg-menu .image-promo {
  overflow: hidden;
}

#head-nav-zon .navbar-nav .nav-item .dropdown-menu .lg-menu .image-promo img {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#head-nav-zon .navbar-nav .nav-item .dropdown-menu .lg-menu .image-promo img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

#head-nav-zon .navbar-nav .nav-item .dropdown-menu .lg-menu .dropdown-header {
  padding: 7px 0px;
  text-transform: uppercase;
  color: #000;
}

#head-nav-zon .navbar-nav .nav-item .dropdown-menu .lg-menu .lg-menu-item {
  padding-right: 5.5rem !important;
  padding-left: 2rem;
  border-left: 1px solid #e7e7e7;
}

#head-nav-zon .navbar-nav .nav-item .dropdown-menu .lg-menu .lg-menu-item a {
  padding: 5px 0;
}

#head-nav-zon .navbar-nav .nav-item .dropdown-menu .lg-menu .lg-menu-item a:hover {
  padding: 5px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 1rem;
}

#head-nav-zon .navbar-nav .nav-item .second-dropdown, #head-nav-zon .navbar-nav .nav-item .third-dropdown {
  border: transparent;
  position: absolute;
  right: 7.4rem;
  background: #ffffff;
  border-radius: 1%;
}

#head-nav-zon .navbar-nav .nav-item .second-dropdown .lg-menu .lg-menu-item, #head-nav-zon .navbar-nav .nav-item .third-dropdown .lg-menu .lg-menu-item {
  position: absolute;
  top: 100%;
  padding: 0;
  min-width: 240px;
  z-index: 4;
  border: 1px solid #eee;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  right: -4rem;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#head-nav-zon .navbar-nav .nav-item .second-dropdown .lg-menu .lg-menu-item li a, #head-nav-zon .navbar-nav .nav-item .third-dropdown .lg-menu .lg-menu-item li a {
  font-weight: 400;
  text-align: left;
  text-transform: capitalize;
  padding: 0px 17px;
  font-size: 12px;
  line-height: 40px;
  border-bottom: 1px solid #e7e7e7;
}

#head-nav-zon .navbar-nav .nav-item .second-dropdown .lg-menu .lg-menu-item li a.dropdown-item:hover, #head-nav-zon .navbar-nav .nav-item .third-dropdown .lg-menu .lg-menu-item li a.dropdown-item:hover {
  padding-left: 2rem;
}

#head-nav-zon .navbar-nav .nav-item .third-dropdown .lg-menu .lg-menu-item {
  right: -10rem;
}

#head-nav-zon .navbar-nav .nav-item .nav-link {
  display: block;
  font-weight: 600;
  padding: 10px 18px;
  font-size: 12px;
  text-transform: uppercase;
  color: #707070;
  white-space: nowrap;
}

#head-nav-zon .navbar-nav .nav-item .nav-link:hover {
  color: #2caf4e;
}

#head-nav-zon .navbar-nav .nav-item .nav-link .show {
  display: none;
}

#head-nav-zon .navbar-nav .nav-item .active {
  color: #2caf4e;
}

#head-nav-zon .navbar-nav .nav-item a {
  color: #707070;
  text-align: left;
  padding: 0 0 5px;
  text-transform: capitalize;
  line-height: 30px;
  font-weight: 400;
  font-size: 12px;
}

#head-nav-zon .navbar-nav .nav-item a:hover {
  color: #2caf4e;
  padding-left: -15px;
}

#head-nav-zon .navbar-nav .nav-item i {
  margin-left: 9px;
  font-size: small;
}

#head-nav-zon .icon-group {
  position: absolute;
  top: -44px;
  left: 5px;
}

#head-nav-zon .icon-group .my-cart a span {
  position: absolute;
  top: 3px;
  left: 27px;
  color: #2caf4e;
}

#head-nav-zon .icon-group .my-cart a.icons {
  font-size: 15px;
  white-space: nowrap;
  color: #292929;
}

#head-nav-zon .icon-group .my-cart a.icons i {
  padding: 13px 13px;
  font-size: 15px;
  margin-left: 4px;
  margin-right: 2px;
  border-radius: 50%;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

#head-nav-zon .icon-group .my-cart a.icons i:hover {
  font-size: 15px;
  background: #292929;
  padding: 13px 13px;
  border-radius: 50%;
  color: #ffffff;
}

.footer-bottom .container .footer-widget .footer-logo {
  margin-bottom: 2rem;
}

.footer-bottom .container .footer-widget .text {
  font-size: 12px;
}

.footer-bottom .container .footer-widget .social-network ul {
  margin-left: -60px;
  margin-top: 1.5rem;
}

.footer-bottom .container .footer-widget .social-network ul li a.icons {
  font-size: 15px;
  white-space: nowrap;
  color: #292929;
}

.footer-bottom .container .footer-widget .social-network ul li a.icons i {
  background: #e7e7e7;
  color: #999;
  padding: 13px 13px;
  font-size: 15px;
  margin-left: 20px;
  border-radius: 50%;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.footer-bottom .container .footer-widget .social-network ul li a.icons i:hover {
  font-size: 15px;
  background: #292929;
  padding: 13px 13px;
  border-radius: 50%;
  color: #ffffff;
}

.footer-bottom .container .footer-widget address span {
  line-height: 26px;
  display: block;
  text-transform: capitalize;
  font-size: 12px;
  margin-bottom: 10px;
}

.footer-bottom .container .footer-widget address span:nth-child(4) {
  color: #292929;
  margin-top: 46px;
  margin-bottom: 0;
}

.footer-bottom .container .footer-widget .footer-menu {
  padding-left: 0;
}

.footer-bottom .container .footer-widget .footer-menu li a {
  line-height: 26px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 12px;
  margin-bottom: 3px;
  color: #292929;
}

.footer-bottom .container .footer-widget .footer-menu li a:hover {
  color: #2caf4e;
  padding-left: 1rem;
}

.copy-right .border-top .text-center p {
  line-height: 26px;
  color: #292929;
  font-size: 12px;
}

.copy-right .border-top .text-center p a {
  color: #2caf4e;
}

.copy-right .border-top .text-center p a:hover {
  text-decoration: underline;
  color: #2caf4e;
}

.copy-right .border-top .footer-menu li {
  margin-right: 19px;
}

.copy-right .border-top .footer-menu li a {
  line-height: 26px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 12px;
  margin-bottom: 3px;
  color: #292929;
}

.copy-right .border-top .footer-menu li a:hover {
  text-decoration: underline;
  color: #2caf4e;
}

#main-slider {
  position: relative;
  top: -6rem;
  max-width: 1520px;
  margin: 0 auto;
  display: block;
}

#main-slider .home-carousel .slick-list .slick-track {
  background-color: #f4f4f4 !important;
}

#main-slider .slick-progress {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 12px;
  z-index: 1;
  background-color: #f4f4f4;
}

#main-slider .slick-progress span {
  width: 0;
  height: 100%;
  position: absolute;
  background-color: #cccccc;
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
}

#main-slider .slick-progress span.active {
  width: 100%;
}

#main-slider .slider .slider-one,
#main-slider .slider .slider-two {
  position: relative;
  background-position: center;
  background-size: cover;
  display: block;
  width: 100%;
  padding-top: 55%;
}

#main-slider .slider .slider-one .slider-context,
#main-slider .slider .slider-two .slider-context {
  position: absolute;
  bottom: 17rem;
  left: 2rem;
}

#main-slider .slider .slider-one .slider-context p,
#main-slider .slider .slider-two .slider-context p {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 400;
}

#main-slider .slider .slider-one .slider-context h2,
#main-slider .slider .slider-two .slider-context h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.5;
}

#main-slider .slider .slider-one .slider-context h4,
#main-slider .slider .slider-two .slider-context h4 {
  font-size: 50px;
}

#main-slider .slider .slider-one .slider-context .btn,
#main-slider .slider .slider-two .slider-context .btn {
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  margin-top: 2rem;
  font-size: 13px;
}

#main-slider .home-carousel {
  margin-top: -0.7rem;
}

#main-slider .main-theme .slick-dots {
  position: absolute;
  z-index: 99;
  bottom: 1rem;
  left: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main-slider .main-theme .slick-dots li.slick-active button,
#main-slider .main-theme .slick-dots li button:hover {
  background-color: transparent;
  border: 1px solid #2caf4e;
  -webkit-transform: scale(2, 2);
          transform: scale(2, 2);
  font-size: 0;
  padding: 2px;
  border-radius: 50%;
  margin-right: 16px;
}

#main-slider .main-theme .slick-dots li button {
  background-color: #cccccc;
  border: 1px solid transparent;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  font-size: 0;
  padding: 2px;
  border-radius: 50%;
  margin-right: 16px;
}

.banner-content {
  position: absolute;
  left: 4rem;
  top: 4rem;
}

.banner-content p {
  font-weight: 300;
  font-size: 18px;
}

.banner-content h4 {
  line-height: 1;
  font-size: 24px;
  font-weight: 500;
}

.banner-content a {
  color: #707070;
  font-weight: 400;
  font-size: 13px;
  display: inline-block;
}

.banner-content a:hover {
  color: #2caf4e;
}

.banner-context {
  position: absolute;
  left: 4rem;
  top: 4rem;
}

.banner-context p {
  font-weight: 300;
  font-size: 18px;
}

.banner-context h4 {
  display: block;
  line-height: 1;
  font-size: 42px;
  font-weight: 500;
  word-wrap: break-word;
  width: 250px;
}

.banner-context a {
  color: #707070;
  font-weight: 400;
  font-size: 18px;
  display: inline-block;
}

.banner-context a:hover {
  color: #2caf4e;
}

.newsletter {
  padding: 80px 0;
}

.newsletter .content {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.newsletter .content .form-title p {
  font-size: 13px;
}

.newsletter .content .form-title h4 {
  font-weight: 500;
  font-size: 24px !important;
  color: #292929;
  line-height: 1;
}

.newsletter .content .input-group {
  margin-top: 2rem;
  margin-bottom: -1rem;
}

.newsletter .content .input-group .btn {
  border-left: 2px solid #e7e7e7;
  height: 40px;
  position: absolute;
  right: 30px;
  top: 5px;
  z-index: 3;
  font-size: 12px;
  padding-left: 30px;
  font-weight: 600;
}

.newsletter .content .input-group .btn:hover {
  color: #2caf4e;
}

.newsletter .content .form-control {
  height: 50px;
  border-color: #ffffff;
  border-radius: 0;
  border: 2px solid #e7e7e7;
  font-size: 13px;
}

.newsletter .content .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #e7e7e7;
}

.blog-card {
  height: 400px;
  background: #fff;
  display: inline-block;
  margin: 4px 2px;
  vertical-align: top;
  cursor: pointer;
}

.blog-card h5 {
  font-size: 12px;
  color: #929292;
}

.blog-card h5 a {
  font-size: 12px;
  line-height: 24px;
  color: #2caf4e;
}

.blog-card h5 a:hover {
  text-decoration: underline;
}

.blog-card .primary-btn {
  font-size: 12px;
  margin-top: 3rem;
}

.blog-card:focus {
  border: 1px solid transparent;
}

.blog-card__image {
  width: 100%;
  height: 200px;
  margin: 0;
}

.blog-card__image img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}

.blog-card__title {
  width: 100%;
  height: 40px;
}

.blog-card__title p {
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 12px;
}

.blog-card__title p:hover {
  color: #2caf4e;
}

.blog-card hr {
  width: 95%;
  border-top: 1px solid #ededed;
  margin-top: 20px;
}

.blog-card__details {
  width: 100%;
  height: 40px;
  position: relative;
  margin-top: 12px;
  bottom: 0;
  padding: 0 5px;
  display: block;
}

.blog-card__details--time, .blog-card__details--view, .blog-card__details--like {
  float: left;
  font-size: 0.75em;
  margin-top: 11px;
  color: #c0c0c0;
}

.blog-card__details--view {
  float: right;
}

.blog-card__details--like {
  float: right;
  margin-left: 9px;
}

.blog-card__details--like i:hover {
  color: #1382c1;
}

.new-blog-carousel .arrows .prev,
.new-blog-carousel .arrows .next {
  position: absolute;
  top: 30%;
  left: 15px;
}

.new-blog-carousel .arrows .next {
  left: initial;
  right: 15px;
}

.product-tab {
  background: #ffffff;
}

.product-tab .container .tab-content .tab-pane .product-tab-slider {
  background: #ffffff;
}

.product-tab .container .tab-content .tab-pane .product-tab-slider:hover .arrows {
  opacity: 1;
  visibility: visible;
}

.product-tab .container .tab-content .tab-pane .product-tab-slider .arrows {
  opacity: 0;
  visibility: hidden;
}

.product-tab .container .tab-content .tab-pane .product-tab-slider .arrows .prev,
.product-tab .container .tab-content .tab-pane .product-tab-slider .arrows .next {
  position: absolute;
  top: 50%;
  z-index: 2;
  font-size: 14px;
  color: #707070;
  left: -4px;
  cursor: pointer;
  background-color: #ffffff;
  padding: 7px 14px;
  border-radius: 50%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  border: 1px solid #f4f4f4;
}

.product-tab .container .tab-content .tab-pane .product-tab-slider .arrows .prev:hover,
.product-tab .container .tab-content .tab-pane .product-tab-slider .arrows .next:hover {
  color: #ffffff;
  background-color: #2caf4e;
}

.product-tab .container .tab-content .tab-pane .product-tab-slider .arrows .next {
  left: initial;
  right: -4px;
}

.slick-slider .slick-slide {
  padding: 0 15px;
}

.product-tab-menu .nav-item {
  margin: 0 5px;
}

.product-tab-menu .nav-item .nav-link {
  font-weight: 500;
  line-height: 1;
  font-size: 14px;
  text-transform: capitalize;
  padding: 15px 20px;
  color: #292929;
  border: 1px solid #888;
  border-radius: 0px;
}

.styling .nav-link.active {
  color: #ffffff;
  background: #2caf4e;
  border-color: #2caf4e;
}

.styling .nav-link:hover {
  color: #ffffff;
  background: #2caf4e;
  border-color: #2caf4e;
}

@media screen and (max-width: 560px) {
  .product-tab-menu .nav-item {
    margin: 0 5px 10px;
  }
}

.testimonial-init {
  background-color: #f6f6f6;
  padding: 65px;
}

@media screen and (max-width: 767px) {
  .testimonial-init {
    padding: 30px;
  }
}

.testimonial-init .testimonial-content {
  max-width: 80%;
  margin: auto;
  cursor: -webkit-grab;
  cursor: grab;
}

@media screen and (max-width: 767px) {
  .testimonial-init .testimonial-content {
    max-width: 100%;
  }
}

.testimonial-init .testimonial-content img {
  width: 70px;
}

.testimonial-init .testimonial-content p {
  font-size: 12px;
}

.testimonial-init .testimonial-content span {
  font-size: 21px;
  color: #cecece;
}

.testimonial-init .testimonial-content h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: #292929;
}

.testimonial-init .testimonial-content a {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #929292;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.testimonial-init .slick-dots {
  position: relative;
  margin-top: 1rem;
  left: 42.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial-init .slick-dots li button {
  height: 14px;
  width: 14px;
  background-color: #e7e7e7;
  border-radius: 50%;
  display: inline-block;
  font-size: 0;
  margin-right: 9px;
  border: 1px solid white;
}

.testimonial-init .slick-dots li button:hover {
  background-color: #2caf4e;
}

.testimonial-init .slick-dots li.slick-active button {
  background-color: #2caf4e;
}
/*# sourceMappingURL=style.css.map */