.about-section {
    .about-wrapper {
        position: relative;
        background: $white;
        padding: 2rem 2rem;
        top: -6rem;
        padding-bottom: 0px;
        margin-bottom: -40px;
        .title {
            font-size: 30px;
            font-weight: 500;
            color: $dark;
        }
        .text1,
        .text2 {
            line-height: 1.8;
            font-size: 14px;
            margin-bottom: 20px;
        }
        .text2 {
            margin-bottom: 1rem;
        }
    }
}