@model BadgeIconViewModel

@if (Model != null)
{

    <i class="fas fa-suitcase"></i>
    <span class="badge ">@Model.CartItems.Count()</span>
}
else
{
    <i class="fas fa-suitcase"></i>
    <span class="badge "></span>
}





