    @media (max-width: 991.98px) {
        #head-nav-zon .icon-group .my-cart a.mobile-trigger {
            display: block !important;
        }
        .offcanvas-close {
            cursor: pointer;
            right: 5rem;
        }
    }