// Variables

//font family
$mainFont: "Poppins", sans-serif;
$secondFont: "Nunito", sans-serif;
$gilroyLight: "Gilroy-Light";
$gilroyRegular: "Gilroy-Regular";
$gilroyMedium: "Gilroy-Medium";
$gilroyBold: "Gilroy-Bold";
$gilroyHeavy: "Gilroy-Heavy";

//line height
$line-height: 24px;
// theme colors
$main-color: #2caf4e;
$carrot-color: #ff7519;
$second-color: #e7e7e7;
// text colors
$head:#f4f4f4;
$black: #000;
$white: #ffffff;
$dark: #292929;
$grey: #f5f5f5;
$grey-mid: #929292;
$grey-dark: #efefef;
$grey-light: #f6f6f6;
$body-color: #707070;
$warning: #fdd835;
$star-deselect: #d0d0d0;
$del: #cccccc;
$focus-color: #253237;
$placeholder-color: #999;
$instock: #777;
$feature: #f1f1f1;
$camel: #c19a6b;

// font sizes
$title-sizes: (
  "h1": 40,
  "h2": 35,
  "h3": 28,
  "h4": 22,
  "h5": 18,
  "h6": 16,
);

//text classes
.text-uppercase {
  text-transform: uppercase!important;
}