@model WishBadgeIconViewModel

@if (Model != null)
{

    <i class="far fa-heart"></i>
    <span class="badge ">@Model.WishItems.Count()</span>
}
else
{
    <i class="far fa-heart"></i>
    <span class="badge "></span>
}

