// 
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/* Styling h1 and links
 ––––––––––––––––––––––––––––––––– */

.starrating> {
    input {
        display: none;
    }
    label {
        &:before {
            content: "\f005";
            /* Star */
            margin: 2px;
            font-size: 20px;
            font-family: FontAwesome;
            display: inline-block;
        }
        color:$del;
        /* Start color when not clicked */
    }
    input {
        &:checked~label,
        &:hover~label {
            color: #ffca08;
        }
    }
}